.App {
  text-align: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  position: relative;
}
.effects_list {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
}
.effect, .effect_active {
  align-self: stretch;
  margin-bottom: 12px;
  background-color: rgba(12,12,12, 0.4);
  padding: 15px;
  transition: all 250ms ease;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.effect_active {
  background-color: rgba(12,12,12, 0.8);
  color: white;
  height: 40px;
  font-weight: 700;
}
.effect:hover {
  cursor: pointer;
  background-color: rgba(12,12,12, 0.5);
}
.count {
  font-size: 48px;
  font-weight: bold;
  color: salmon;
  padding: 15px;
  min-width: 100px;
}
.right {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.manage {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.button {
  padding: 15px;
  font-size: 24px;
  transition: all 250ms ease;
  min-width: 200px;
}
.button:hover {
  cursor:pointer;
}
.button:active {
  background-color: rgba(12,12,35, 0.5);
}
.clear {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 15px;
  border: 3px solid salmon;
  color: salmon;
}
.clear:hover {
  cursor: pointer;
}
.log {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: grey;
}
.log > p {
  margin: 4px;
  font-weight: 100;
}
.error {
  color: red;
}



.timer_wrap {
  height: 6px;
  width: 400px;
  background-color: rgba(0,0,0,.15);
  margin-bottom: 15px;
}

.timer {
  height: 100%;
  width: 100%;
  -webkit-animation: 100s ease 0s 1 normal load;
  animation: 2s ease 0s 1 normal load;
  transition: all 0s ease;
}

@keyframes load {
  0% { background-image: linear-gradient(90deg, salmon 0%, transparent 0%) }
  10% { background-image: linear-gradient(90deg, salmon 10%, transparent 10%) }
  20% { background-image: linear-gradient(90deg, salmon 20%, transparent 20%) }
  30% { background-image: linear-gradient(90deg, salmon 30%, transparent 30%) }
  40% { background-image: linear-gradient(90deg, salmon 40%, transparent 40%) }
  50% { background-image: linear-gradient(90deg, salmon 50%, transparent 50%) }
  60% { background-image: linear-gradient(90deg, salmon 60%, transparent 60%) }
  70% { background-image: linear-gradient(90deg, salmon 70%, transparent 70%) }
  80% { background-image: linear-gradient(90deg, salmon 80%, transparent 80%) }
  90% { background-image: linear-gradient(90deg, salmon 90%, transparent 90%) }
  100% { background-image: linear-gradient(90deg, salmon 100%, transparent 100%) }
}

